<h1><%= @app.name %>'s Application'</h1>

<h3>Application Info</h3>
<ul>
  <li>Name: <%= @app.name %></li>
  <li>Adress: <%= @app.street_address %></li>
  <li>City: <%= @app.city %></li>
  <li>State: <%= @app.state %></li>
  <li>Zip: <%= @app.zip %></li>
  <li>Description: <%= @app.description %></li>
  <li>Status: <%= @app.status %></li>
  <li>Pets:
    <ul>
      <% @app.pets.each do |pet| %>
        <section id="app-<%= pet.id %>">
        <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
        </section>
      <% end %>
    </ul>
  </li>
</ul>
