<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
      <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Adopt, Don't Shop</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/pets">Pets</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/shelters">Shelters</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/applications">Applications</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/shelters">Admin: Shelters</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/applications">Admin: Applications</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/veterinarians">Veterinarians</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/veterinary_offices">Veterinary Offices</a>
            </div>
        </div>
      <div id="page-content-wrapper">
          <!-- Page content-->
          <div class="container-fluid">
            <%= yield %>
          </div>
      </div>
    </div>

  </body>
</html>
